html {
    background-color: #202020;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url("/images/matrix.gif");
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    background-position: 0px, 0px;
    background-size: 100vw, 100vh;
}

body {
    background-color:#0000;
    color: white;
    text-align: center;
    font-family: monospace;
}

h1 {
    color: red;
    font-size: 40px;
}

h2 {
    color: gray;
    font-size: 30px;
}

h3 {
    color: darkgray;
    font-size: 23px;
}

p {
    font-size: 20px;
}

ul, ol {
    display: inline-block;
    text-align: left;
}

ul {
    color: darkgray;
}

ol {
    color: red;
}

li {
    font-size: 13px;
}

strong {
    font-size: 15px;
}

a:link {
    color: red;
}

a:visited {
    color: white;
}

a:hover {
    color: gray;
}

a:active {
    color: darkgray;
}

a.list:link {
    color: red;
}

a.list:visited {
    color: red;
}

a.list:hover {
    color: gray;
}

a.list:active {
    color: darkgray;
}

.social-icons {
  text-align: center;
}

.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
}

.social-icons li a {
  border-bottom: none;
}

.social-icons li img {
  width:50px;
  height:50px;
  margin-right: 20px;
}
